.page-container , .calculator-body , .screen , .delete-container , .core-button-container {
    display: flex;

}

.core-btn , .page-container , .clear-btn , .delete-btn {
    width: 100%;

}

.clear-btn , .delete-btn , .core-btn , .screen {
    border-radius: 5px;
    border: solid black 2px;

}

.core-button-container , .delete-container {
    height: 60px;

}

.clear-btn , .delete-btn {
    font-size: 20px;

}

.page-container {
    justify-content: center;
    height: 100%;

}

.calculator-body{
    margin-top: 50px;
    width: 405px;
    height: 475px;
    background-color: gray;
    border: solid black 2px;
    border-radius: 15px;
    padding: 16px;
    flex-direction: column;
    gap: 15px;

}

.screen {
    height: 80px;
    background-color: rgb(241, 242, 234);
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 10px;

}

.screen-text , .operation-text {
    font-family: 'Roboto Mono' , monospace;

}

.screen-text {
    font-size: 40px;
    font-weight: bold;
    height: 50px;

}

.operation-text {
    font-size: 15px;
    margin-bottom: 5px;

}

.delete-container {
    gap: 20px;

}

button {
    transition: all 0.2s ease-in-out;
    
}

button:hover {
    filter: brightness(75%);

}

button:active {
    filter: brightness(50%);

}

.clear-btn {
    background-color: red;

}

.delete-btn {
    background-color: blueviolet;

}

.core-button-container {
    gap: 10px;

}

.core-btn {
    font-size: 18px;
    background-color: #d3d3d3;
    
}